[user]
	name = John Turner
	email = fenwayriffs@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
	sla = log --oneline --decorate --graph --all
	glog = log -E -i --grep
	unstage = reset
	uncommit = reset --soft HEAD^
	ci = commit
	st = status
	br = branch
	co = checkout
	# car: commit amend reuse
	car = commit --amend --no-edit
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = !"git lg1"
	lg = log --format='%C(bold green)%h %C(bold blue)%cd %C(magenta)%d %Creset%s [%C(dim white)%cn%Creset]' --graph --all --date=short --decorate

